In [16]:
import pandas as pd
df = pd.read_csv('./Data-Analysis-with-Pandas-and-Python/foods.csv')

In [17]:
df

    First Name  Gender          City Frequency       Item  Spend
0        Wanda  Female      Stamford    Weekly     Burger  15.66
1         Eric    Male      Stamford     Daily    Chalupa  10.56
2      Charles    Male      New York     Never      Sushi  42.14
3         Anna  Female  Philadelphia      Once  Ice Cream  11.01
4      Deborah  Female  Philadelphia     Daily    Chalupa  23.49
5      Charles    Male      Stamford   Monthly      Sushi  93.03
6         Mark    Male  Philadelphia   Monthly  Ice Cream  30.01
7         Paul    Male  Philadelphia   Monthly    Chalupa  17.65
8        Larry    Male      New York   Monthly     Burger  34.11
9        Roger    Male      Stamford   Monthly    Chalupa  39.01
10      Samuel    Male      Stamford     Daily  Ice Cream  15.17
11      Rachel  Female  Philadelphia    Seldom      Sushi  71.68
12        Mary  Female  Philadelphia      Once     Burger   1.97
13        Lori  Female      New York     Daily    Burrito  34.92
14       Henry    Male      Stamford     Often      Donut  83.61
15        Paul    Male  Philadelphia     Often  Ice Cream  97.67
16       Karen  Female      Stamford    Yearly     Burger  39.41
17     Frances  Female      New York    Weekly    Chalupa   3.54
18       Bruce    Male      Stamford     Often  Ice Cream  99.17
19      Bonnie  Female  Philadelphia     Never      Donut  72.63
20        Anne  Female      Stamford     Never    Chalupa  48.49
21        Rose  Female      New York    Weekly      Sushi  40.76
22        Earl    Male      Stamford    Seldom    Chalupa  38.26
23     Phyllis  Female      New York     Often      Donut  28.78
24      Gerald    Male      New York    Yearly    Chalupa  29.90
25       Carol  Female  Philadelphia     Daily     Burger  90.66
26      Dennis    Male  Philadelphia     Never      Sushi  12.38
27   Stephanie  Female      New York    Weekly  Ice Cream  77.70
28       Sarah  Female      New York     Often      Sushi  76.44
29    Lawrence    Male  Philadelphia     Often      Sushi   7.97
..         ...     ...           ...       ...        ...    ...
970     Rachel  Female  Philadelphia    Seldom      Sushi  11.68
971    Kenneth    Male      Stamford     Often     Burger  56.41
972      Wayne    Male      Stamford      Once  Ice Cream  14.13
973      Kelly  Female      Stamford     Daily    Burrito   1.18
974    Antonio    Male  Philadelphia    Weekly    Burrito  40.01
975      Carol  Female      Stamford      Once      Sushi   8.38
976      Jesse    Male  Philadelphia     Never  Ice Cream  95.69
977       John    Male      New York    Yearly      Sushi  70.78
978    Charles    Male      Stamford    Weekly      Donut  64.28
979       Eric    Male      Stamford      Once     Burger  19.12
980     Daniel    Male      New York     Often    Chalupa  58.95
981      Keith    Male      New York     Daily      Donut  65.19
982    Jeffrey    Male  Philadelphia      Once     Burger  35.88
983        Amy  Female      New York     Daily      Donut  20.78
984      Jimmy    Male      Stamford     Never  Ice Cream  35.74
985     Ernest    Male      New York    Weekly    Burrito  70.17
986        Ann  Female      Stamford    Yearly    Chalupa  92.16
987      Jesse    Male      Stamford      Once     Burger  65.70
988     Louise  Female      Stamford    Yearly     Burger  69.80
989    Timothy    Male      Stamford     Daily    Burrito  80.38
990     Pamela  Female      New York     Never     Burger  97.89
991    Anthony    Male      Stamford    Yearly  Ice Cream   8.72
992    Raymond    Male      New York     Never     Burger  90.32
993       Mark    Male  Philadelphia    Seldom      Donut  13.79
994    Shirley  Female      Stamford     Never    Burrito  98.61
995      Donna  Female      New York   Monthly      Sushi  83.53
996     Albert    Male  Philadelphia     Daily      Sushi  72.88
997       Jean  Female      Stamford    Weekly      Donut   5.85
998    Jessica  Female      New York     Daily    Chalupa  43.19
999      Brian    Male      New York     Daily    Chalupa  28.36

[1000 rows x 6 columns]

In [18]:
df.describe()

             Spend
count  1000.000000
mean     50.069370
std      27.728471
min       1.020000
25%      27.380000
50%      48.825000
75%      73.092500
max      99.870000

男女比

In [19]:
m = 0
f = 0
for g in df['Gender']:
    if g == 'Male':
        m += 1
    else:
        f += 1
print(m/f)

0.953125

最多人吃的食物

In [26]:
df['Item'].mode()

0    Donut
dtype: object